:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

body {

}

.app{
  max-width: 840px;
  background: #ececec;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.form-container{
  width: 500px;
  max-width: 600px ;
  background: white;
  padding: 40px;
  margin: 40px 0;
  border: 1px #cecece solid;
  border-radius: 10px;

}

.form-group{
  margin-bottom: 20px;
}

h1{
  margin: 5px !important;
}